.section-contact {
    height: 100vh;
    width: 100vw;
    max-width: var(--max-width);
    background-color: var(--background);

    position: absolute;
    top: 0;
    left: 50%;
    
    transform: translate(-50%,100%);

    border-radius: var(--section-radius);
}

.section-title.contact {
    margin-left: 0;
    color: var(--secondary);
}

.section-contact-content {
    height: 60%;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas: "contact_text contact_scene";

}

.left {
    grid-area: contact_text;
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

form input, form textarea {
    height: 40px;
    border: none;
    border-bottom: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    font-family: var(--font-body);
    font-size: 1.2rem;
}

form textarea {
    resize: vertical;
}

form input:focus, form textarea:focus {
    outline: none;
    border-bottom: 1px solid var(--primary);
}

form label {
    color: var(--secondary);
}

form label::after {
    content: "REQUIRED";
    color: var(--primary);
    font-size: 0.8rem;
    margin-left: 10px;
}

.right {
    grid-area: contact_scene;
}

.contact-submit {
    margin: 0 auto;
    height: 100px;
    width: 400px;
    border-radius: 50px;
    border: 1px solid var(--secondary);
    background: transparent;

    font-size: 3rem;

    font-family: var(--font-title);
    color: var(--secondary);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

.contact-submit:hover {
    color: var(--background);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.contact_ct {
    opacity: 0;
}

@media screen and (max-width: 816px) {
    
    .section-contact-content {
        display: flex;
        flex-direction: column;
        height: 65%;
        gap: 0px;
    }
    .contact-submit {
        height: 70px;
        width: 220px;
        font-size: 1.8rem;
    }

    form input, form textarea {
        height: 20px;
        font-size: 1rem;
    }

    form label {
        margin-bottom: -20px;
    }
    .right {
        height: 100%;
    }
    .section-title {
        margin-top: 10px;
    }
    .section-subtitle.contact {
        opacity: 0 !important;
        line-height: 2;
    }
}