@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;500&family=Montserrat:wght@700&display=swap');

:root {
  --background: #0e100f;
  --primary: #646cff;
  --secondary : #fffce1;
  --disabled : #7c7c6f;
  --hovered-primary: #8789ff;
  --text-primary: #fffce1;
  --text-secondary: #7c7c6f;
  --text-accent: #646cff;

  --font-title: 'Montserrat', sans-serif;
  --font-body: 'Hind Madurai', sans-serif;

  --max-width: 1650px;
  --section-radius: 70% 70% 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;

  overflow-y: hidden;

}

::selection {
	background-color: var(--primary)
}

::moz-selection {
	background-color: var(--primary)
}

#root {
  max-width: 1650px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}